<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @guest.name %>!</h1>
    <p> An order has been placed. </p>
    <p>Guest details: NAME: <%= @guest.name %> EMAIL: <%= @guest.email  </p>
  </body>
</html>